<div class="container-fluid py-5">
    <div class="container m-0 p-2 py-2 text-start ">
        <button routerLink="/home" class="btn btn-outline-light  btn-sm mb-0 w-25 py-2 rounded-1">Voltar</button>
    </div>

    <div class="form-floating py-3">
        <h5 class=" titulo text-center">Configurações</h5>
    </div>

    <div class="container conta">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" fill="currentColor" class="text-start bi bi-person-fill" viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg>
        <label>Dados da conta</label>
    </div>


    <div class="container caixa-tema py-2">
        <div class="form-check">
            <h3>Tema</h3>
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Claro
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              Escuro
            </label>
        </div>
    </div>

    <div class="container caixa-fonte">
        <div class="form-check">
            <h3>Fonte</h3>
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" style="font-size: 12px;" for="flexRadioDefault1">
              Pequena
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              Média
             </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" style="font-size: 18px;" for="flexRadioDefault2">
              Grande
            </label>
        </div>
    </div>

    <div class="container conta">
        <h4>Termos e Condições de uso</h4>
    </div>

</div>