.logo {
    margin-top: -5%;
}

.fundo {
    background-color: #005452;
}

.fundo h5 {
    font-size: 40px;
    color: white;
}

.formulario {
    background: #265a59;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 18px 10px;
}