<div class="fundo py-4 container-fluid">
    <img class="logo" src="../../assets/img/logo.png" alt="logo">
    <h5 class="py-0 text-center">Iniciar Sessão</h5>

    <div class="formulario mx-auto py-4 mb-1 text-center">

        <div class="form-floating w-75 mx-auto mb-1 text-secondary">
            <input type="email" class="form-control rounded-0 border-0 border-bottom" id="email" placeholder="Escreva seu email">
            <label for="email">Escreva seu email</label>
        </div>

        <div class="form-floating w-75 mx-auto mb-1 text-secondary">
            <input type="password" class="form-control rounded-0 border-0 border-bottom" id="senha" placeholder="Escreva sua senha">
            <label for="senha">Escreva sua senha</label>
        </div>
        <div class="container-fluid m-0 p-4 py-1 text-center">
            <button routerLink="/home" class="btn btn-dark  w-100 h-80 py-2 mb-2 rounded-1">Entrar</button>
            <button routerLink="/user" class="btn btn-success btn-sm mb-0 w-30 py-2 rounded-1">Criar Conta</button>
        </div>
    </div>
</div>