#titulo{
    background-color: #005452;
    color: white;
  }
  ion-content{
    background-color: #005452;
    color: white;
  }
ion-button{
  border-radius: 25px;
  overflow: hidden;
}
ion-card-title{
  text-align: center
}

ion-card-subtitle{
  text-align: center
}
