.fundo {
    background-color: #005452;
    font-size: 20px;
    height: 100%;
}

.fundo h5 {
    font-size: 25px;
    color: white;
    text-transform: uppercase;
}

.formulario {
    background-color: #265a59;
    text-align: center;
    height: 80%;
    margin-top: 30px;
}