<div class="fundo py-4 container-fluid">

    <div class="formulario mx-auto py-4 mb-1 text-center">

        <h5 class="py-4 text-center">Cadastro</h5>

        <div class="form-floating w-75 mx-auto mb-1 text-secondary">
            <input type="text" class="form-control rounded-0 border-0 border-bottom" id="nome" placeholder="Nome Completo">
            <label for=" text ">Nome Completo</label>
        </div>
        <div class="form-floating w-75 mx-auto mb-1 text-secondary">
            <input type="number" class="form-control rounded-0 border-0 border-bottom" id="rm-ra" placeholder="RM / RA">
            <label for="email">RM / RA</label>
        </div>
        <div class="form-floating w-75 mx-auto mb-1 text-secondary">
            <input type="date" class="form-control rounded-0 border-0 border-bottom" id="datNasc" placeholder="Escreva seu email">
            <label for="email">Data de Nascimento</label>
        </div>
        <div class="form-floating w-75 mx-auto mb-1 text-secondary">
            <input type="email" class="form-control rounded-0 border-0 border-bottom" id="email" placeholder="Escreva seu email">
            <label for="email">Escreva seu email</label>
        </div>
        <div class="form-floating w-75 mx-auto mb-1 text-secondary ">
            <input type="password " class="form-control rounded-0 border-0 border-bottom " id="senha " placeholder="Escreva sua senha ">
            <label for="senha ">Escreva sua senha</label>
        </div>

        <div class="container-fluid m-0 p-4 py-4 text-center ">
            <button routerLink="/home" class="btn btn-dark btn-sm mb-0 w-50 py-2 rounded-1">Cadastrar</button>

            <div class="container-fluid m-0 p-4 py-2 text-center ">
                <button routerLink="/user" class="btn btn-dark btn-sm mb-0 w-50 py-2 rounded-1">Voltar</button>
            </div>
        </div>
    </div>