.container {
    background-color: #265a59;
    height: 100%;
}

.fundoUser {
    background-color: #265a59;
    height: 50%;
    margin-top: 50%;
}

.pergunta {
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 20px;
}

.opcao {
    text-transform: uppercase;
    background-color: #265a59;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
}