<div class="container d-flex-justify-content-center ">
    <div class=" fundoUser text-center ">

        <div class="quadrado text-center py-3 mb-1">
            <p class="pergunta">Você é?</p>
        </div>

        <div class="form-floating text-center">
            <div class="form-check opcao">
                <input type="radio" class="btn-check w-100" name="options" id="option1" autocomplete="" checked>
                <label class="btn btn-outline-light w-100" for="option1"> <b>Professor(a)</b></label>
            </div>

            <div class="form-check opcao">
                <input type="radio" class="btn-check w-100" name="options" id="option2" autocomplete="" checked>
                <label class="btn btn-outline-light w-100" for="option2"><b>Aluno(a)</b></label>
            </div>
        </div>

        <div class="container-fluid m-0 p-4 py-3 text-center">
            <button routerLink="/cad-aluno" class="btn btn-dark btn-sm mb-0 w-50 py-2 rounded-1">Próximo</button>
        </div>

    </div>
</div>